
.MessageBody {
    display: flex;
    width: 100%;
    height: fit-content;

    padding: 0px 16px 0px 16px;

    &.Extended {
        //height: 48px;
    }

    &:hover {
        background-color: rgb(18, 18, 18);
    }
}

.MessageElement {
    display: inline;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.MessageAvatar {
    background-color: rgb(29, 29, 29);
    border-radius: 64px;

    max-width: 48px;
    max-height: 32px;

    min-width: 48px;
    min-height: 32px;

    &.Extended {
        max-width: 48px;
        max-height: 48px;
    
        min-width: 48px;
        min-height: 48px;

        padding: 4px;
    }
}

.MessageControlsBody {
    display: flex;
    
    max-width: 86px;
    min-width: 86px;

    max-height: 32px;

    background-color: rgb(22, 22, 22);

    border-radius: 4px;

    visibility: collapse;

    .Hovered {
        visibility: visible;
    }
}

.MessageButton {

}

.MessageTextName {
    color: white;
    font-weight: 400;
}

.MessageTextContent {
    color: rgb(180, 180, 180);
    font-size: 10pt !important;
    font-weight: 200;

    word-wrap: break-word;
    white-space: pre-wrap;
}