
body {
    background-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
}

.MainWindowBody {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.AppHeader {
    display: flex;

    width:100vw;
    height: 20px;
    
    background-color: rgb(25,25,25);

    -webkit-user-select: none;
    user-select: none;
    -webkit-app-region: drag;
}

.AppBody {
    display: block;
    flex-grow: 1;
}

.Logo {
    width: 100%;

    align-self: center;
}

.ControlButtons {
    display: flex;
    flex-direction: row-reverse;

    -webkit-user-select: auto;
    user-select: auto;
    -webkit-app-region: no-drag;
}

.ControlButton {
    display: block-inline;
    background-color: rgb(25, 25, 25);

    height:100%;
    width:30px;

    -webkit-app-region: no-drag;

    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    color: rgb(200,200,200);

    &:hover {
        background-color: rgb(35,35,35);
    }
}

.btn0:hover {
    background-color: rgb(224, 39, 39);
}

@font-face {
    font-family: Cairo;
    src: local("Cairo"), local("Cairo Bold"),
        url("./Assets/fonts/cairo.ttf");
    font-weight: bold;
}

.HeaderLogoText {
    display: inline;

    font-family: 'Cairo';
    font-size: 10pt;
    margin-left: 4px;

    color: #c8c8c8;
}